# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Logs e arquivos temporários
logs/
.log
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Módulos e pacotes
node_modules/
*.iml
*.jar
*.war
*.ear

# Arquivos gerados por ferramentas de construção e compilação
dist/
build/
out/
cache/
.next/
.nuxt/
coverage/
tmp/
*.zip
*.tar
*.tar.gz
*.tgz

# Arquivos de dependências específicas do editor
.vscode/
.idea/
*.swp
*~.nib
*.lock
.sass-cache/
*.DS_Store
Desktop.ini
Thumbs.db

# Arquivos de ambiente e configuração
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.build

# Outros arquivos que não precisam ser rastreados pelo Git
*.png
*.gif
*.ico
*.jpeg
*.jpg
*.pdf
*.woff
*.woff2
*.ttf
